body {
	background-image: url(../img/bkg_body.jpg);
	background-repeat: repeat-x;
	
}

#shadow{
	height: auto;
	width: 1020px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/bkg_container.png);
	background-repeat: repeat-y;
	}
#container{
	background-color: #eaeaea;
	height: 1000px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	}

#header{
	height: 190px;
	width: 960px;
	float: left;
	background-image: none;
	}

#navi{
	float: left;
	height: 40px;
	width: 960px;
	background-image: url(../img/bkg_nav.jpg);
	background-repeat: repeat-x;
	}
	
#article{
	width: 960px;
	height: 693px;
	float: left;
}
#nav ul{
	list-style:none;
	margin:0px;
	padding:0px;
	}
	
#nav ul li {
	margin:0px;
	}
#nav ul li a {
	display: block;
	color: #FFF;
	height: 40px;
	float: left;
	width: auto;
	line-height: 40px;
	text-align: left;
	text-decoration: none;
	font-size: 18px;
	padding-right: 30px;
	padding-left: 30px;
	}
	
#nav ul li a:hover{
	text-decoration: none;
	background-image: url(../img/img_header.jpg);
}	

.titulo {
	margin-right: auto;
	margin-left: auto;
	color: #00F;
	font-size: 50px;
}
.parrafo {
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 265px;
	top: 677px;
	height: 231px;
	width: 354px;
}

#footer{
	height: 77px;
	width: 960px;
	float: left;
	}
ul{
	width:960px;
	height:auto;
	margin:auto;
	padding:0;
	
	}
ul li {
	list-style:none;
	text-align:center;
	
	}
ul > li{
	position:relative;
	float:left;
	width:160px;
	height:50px;
	background-color: #000;
	Z-index: 1;
	
	}
	
ul > li:hover{
	background:#000}



ul li a {
	display: block;
	color: white;
	padding: 1em 0;
	text-decoration: none;
	font-family: "premier League";
	font-size: 16px;
	
	}
ul li ul {
	display:none;
	position:absolute;
	
	}
ul li:hover ul {
	display:block;
	}
ul li ul li:hover{
	background:black;
	}
ul li ul li a {
	
	color: #FFF;
	}
